
/* Implicit colors */
$white: white;
$gigas: #4339A7;
$minks: #362C8B;
$radical-red: #FC1C62;
$french-rose: #F3498A;
$starship: #F3DE49;

/* Brand colors */
$primary-color: $gigas;
$secondary-color: $minks;
$tertiary: $radical-red;

/* Background colors */
$backgroundColorA: $gigas;
$backgroundColorB: $radical-red;
$backgroundColorC: $french-rose;
$backgroundColorD: $starship;

/* Export colours to JS */
:export {
    backgroundColorA: $backgroundColorA;
    backgroundColorB: $backgroundColorB;
    backgroundColorC: $backgroundColorC;
    backgroundColorD: $backgroundColorD;
}
  



