@import 'settings/colors';

/* Line height units */
$base-line-height: 1.44;

/* Font size units */
$base-font-size: 1rem;
$nav-font-size: 1.2rem;

/* Transition units */
$transition-speed: .3s;
$transition-timing: ease;

/* Margins */
$base-spacing: 1rem;
$base-spacing-half: $base-spacing / 2;
$base-spacing-quarter: $base-spacing-half / 2;

/* MQ */
$medium-width: 768px;
$large-width: 1024px;

