@import 'settings/core';
@import 'settings/colors';
@import 'mixins/helpers';
@import 'mixins/media';

.tt {
    $block: &;

    &__title {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 0 0 1.1rem 0;

        @include medium {
            line-height: 3.5rem;
        }
        
        &--medium {
            font-size: 2rem;
        }
        &--small {
            font-size: 1.2rem;
            margin: 0;
        }
    }

    &__subtitle {
        font-size: 0.8rem;
    }

    &__text {
        margin-bottom: 1.5rem;
        font-size: 0.9rem;

        @include medium {
            font-size: inherit;
        }

        &--small {
            font-size: 0.9rem;
        }
        &--xsmall {
            font-size: 0.8rem;
        }

    }
}