@import 'normalize';
@import 'settings/core';
@import 'settings/colors';

body {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    font-size: $base-font-size;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	line-height: $base-line-height;
    background-color: $primary-color;
    color: $white;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
}