@import 'settings/core';
@import 'settings/colors';
@import 'mixins/helpers';

.nav {
    $block: &;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin: 0 0 0 -20px;
    padding: 0;
    height: 70px;
}
.primary-nav {
    @extend .nav;
    &__item-link {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 20px;
        box-sizing: border-box; 
        @include transition(all);
        will-change: all;
        backface-visibility: hidden;
        opacity: .75;
        margin-right: 1rem;

        &:hover {
            background-color: rgba(0,0,0,.05);
        } 

        &--active {
            
            box-shadow: inset 0px 2px 0px 0px rgba($white,.7);
            opacity: 1;
            border-radius: 0 0 5px 5px;

            .theme-gigas & {
                background-color: darken($gigas,3.5);
                text-shadow: 1px 1px darken($gigas, 20%);
            }

            .theme-french & {
                background-color: darken($french,7.5);
                text-shadow: 1px 1px darken($french, 20%);
            }

            .theme-starship & {
                background-color: darken($starship,6.5);
                text-shadow: 1px 1px darken($starship, 20%);
            }

            .theme-radical & {
                background-color: darken($radical,4.5);
                text-shadow: 1px 1px darken($radical, 20%);
            }

            .theme-bottle & {
                background-color: darken($bottle,2.5);
                text-shadow: 1px 1px darken($bottle, 20%);
            }

            .theme-firered & {
                background-color: darken($firered,10.5);
                text-shadow: 1px 1px darken($firered, 20%);
            }
        }
        &--active {
            cursor: default;
        }
    }
}
.secondary-nav {
    @extend .nav;
    margin: 0;

    &__item-link {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: .9rem;
        padding: 0;
        margin-right: $base-spacing;
        box-sizing: border-box;
        @include transition(all);
        will-change: all;
        backface-visibility: hidden;
        opacity: .75;

        &:hover, 
        &--active {
            
            box-shadow: inset 0px 2px 0px 0px rgba($white,.7);
            opacity: 1;
            cursor: default;
            border-radius: 0 0 5px 5px;

            .theme-gigas & {
                background-color: darken($gigas,1.8);
                text-shadow: 1px 1px darken($gigas, 20%);
            }
        }
    }
}

