@import 'settings/core';
@import 'settings/colors';
@import 'mixins/helpers';
@import 'mixins/media';

.nav {
    $block: &;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: $base-spacing * 2;
    margin-left: -$base-spacing;
    margin-right: -$base-spacing;

    @include medium {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        height: 70px;
        margin: 0 0 0 -20px;
        width: 100%;
    }
}

.primary-nav {

    @extend .nav;
    
    &__item-link {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 20px;
        box-sizing: border-box; 
        @include transition(all);
        will-change: all;
        backface-visibility: hidden;
        opacity: .75;
        -webkit-tap-highlight-color: transparent;

        @include medium {
            margin-right: 1rem;
        }

        &:hover {
            background-color: rgba(0,0,0,.05);
        } 

        &--active {
            opacity: 1;
            border-radius: 0 0 5px 5px;

            @include medium {
                box-shadow: inset 0px 2px 0px 0px rgba($white,.7);
            }

            .theme-gigas & {
                background-color: darken($gigas,3.5);
                text-shadow: 1px 1px darken($gigas, 20%);
            }

            .theme-french & {
                background-color: darken($french,7.5);
                text-shadow: 1px 1px darken($french, 20%);
            }

            .theme-starship & {
                background-color: darken($starship,6.5);
                text-shadow: 1px 1px darken($starship, 20%);
            }

            .theme-radical & {
                background-color: darken($radical,4.5);
                text-shadow: 1px 1px darken($radical, 20%);
            }

            .theme-bottle & {
                background-color: darken($bottle,2.5);
                text-shadow: 1px 1px darken($bottle, 20%);
            }

            .theme-firered & {
                background-color: darken($firered,10.5);
                text-shadow: 1px 1px darken($firered, 20%);
            }
        }
        &--active {
            cursor: default;
        }
    }
}
.secondary-nav {

    @extend .nav;
    
    margin: 0;

    &__item-link {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: .9rem;
        padding: $base-spacing-quarter;
        margin-right: $base-spacing;
        box-sizing: border-box;
        @include transition(all);
        will-change: all;
        backface-visibility: hidden;
        opacity: .75;
        -webkit-tap-highlight-color: transparent;

        @include medium {
            padding: 0;
        }

        &:hover, 
        &--active {
            box-shadow: none;
            opacity: 1;
            cursor: default;
            border-radius: 0 0 5px 5px;

            .theme-gigas & {
                background-color: darken($gigas,1.8);
                text-shadow: 1px 1px darken($gigas, 20%);
            }
        }
    }
}

